<div id="company-register-modal">
    <!--Reg Block-->
    <div class="reg-block modal-body">
        <div class="reg-block-header">
            <div class="row">
            <div class="col-md-1" style="margin-left:-10px; margin-top: 10px; margin-right: 15px;">
                <a class="ios-6-arrow left light" href="#" ng-click="dismiss()" data-title="back"></a>
            </div>
            <div class="col-md-10">
                <h2>Company Registration</h2>
            </div>
            </div>
        </div>
        <div class="input-group margin-bottom-20">
            <span class="input-group-addon"><i class="fa fa-users"></i></span>
            <input type="text" class="form-control" ng-model="name" placeholder="Company name">
        </div>
        <!--<div class="input-group margin-bottom-20">
            <span class="input-group-addon"><i class="fa fa-building"></i></span>
            <input type="text" class="form-control" placeholder="Address">
        </div>-->
        <!--<div class="input-group margin-bottom-20">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" placeholder="Contact name">
        </div>-->
        <!--<div class="input-group margin-bottom-20">
            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
            <input type="text" class="form-control" placeholder="Contact number">
        </div>-->
        <div class="input-group margin-bottom-20">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <input type="text" class="form-control" ng-model="email" placeholder="Contact e-mail">
        </div>
        <!--<div class="input-group margin-bottom-20">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <input type="text" class="form-control" placeholder="Confirm e-mail">
        </div>-->
        <!--<div class="input-group margin-bottom-20">
            <span class="input-group-addon"><i class="fa fa-skype"></i></span>
            <input type="text" class="form-control" placeholder="Contact skype">
        </div>-->
        <div class="input-group margin-bottom-20">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input class="form-control" ng-model="password" type = "password" placeholder="Password (min 8 letters)">
        </div>
        <div class="input-group margin-bottom-20">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input class="form-control" ng-model="confirmPassword" type="password" placeholder="Confirm Password">
        </div>
        <hr>
        <div class="alert alert-success col-md-10 col-md-offset-1" ng-show="success" role="alert">Registration successful!</div>   
        <div class="alert alert-danger col-md-10 col-md-offset-1" ng-show="fail" role="alert">{[failMessage]}</div>                 
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <button type="submit" ng-disabled="isDisabled" class="btn-u btn-block register-button" ng-click="registerCompany()">Sign Up</button>
            </div>
        </div>
    </div>
    <!--End Reg Block-->
</div><!--/container-->


