<div>
    <!--Reg Block-->
    <div class="reg-block modal-body">
        <div class="reg-block-header">
            <div class="row">
            <div class="col-md-1" style="margin-left:-10px; margin-top: 10px; margin-right: 15px;">
                <a class="ios-6-arrow left light" href="#" ng-click="dismiss()" data-title="back"></a>
            </div>
            <div class="col-md-10">
                <h2>{[role]} Sign In </h2>
            </div>
            </div>
<!--        <ul class="social-icons">
                <li><a class="rounded-x social_facebook" data-original-title="Facebook" href="#"></a></li>
                <li><a class="rounded-x social_twitter" data-original-title="Twitter" href="#"></a></li>
                <li><a class="rounded-x social_googleplus" data-original-title="Google Plus" href="#"></a></li>
                <li><a class="rounded-x social_linkedin" data-original-title="Linkedin" href="#"></a></li>
            </ul>-->
            <p>Don't Have Account? Click <a class="color-green" ng-click="launchRegister()">Sign Up</a> to register.</p>            
        </div>

        <div class="input-group margin-bottom-20">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <input ng-model = "email" type="text" class="form-control" placeholder="Email">
        </div>
        <div class="input-group margin-bottom-20">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input ng-model = "pw" type="password" class="form-control" placeholder="Password">
        </div>
        <hr>

        <div class="checkbox">
            <label>
                <input type="checkbox"> 
                <p>Always stay signed in</p>
            </label>            
        </div>
        <div class="alert alert-danger col-md-10 col-md-offset-1" ng-show="fail" role="alert">{[failMessage]}</div>                   
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <button ng-click="login()" ng-disabled="isDisabled" class="btn-u btn-block">Log In</button>
            </div>
        </div>
    </div>
    <!--End Reg Block-->
</div><!--/container-->


